# Call-and-Response Challenge


In <a href="https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/movie_sales_2025.csv">this dataset</a>, what are the 10 movies that had the biggest Worldwide Box Office sales?

In [2]:
## import libraries

import pandas as pd
# from datetime import datetime

In [3]:
## run the display code here to make numbers easier to read
pd.options.display.float_format = '{:,.0f}'.format

In [4]:
## read data
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/movie_sales_2025.csv")
df.head()

,id,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,1,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
1,2,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
2,3,Indiana Jones and the Dial of Destiny,2023,402300000,174480468,383963057,"174,480,468","209,482,589","383,963,057",NaN,"60,368,101",PG-13
3,4,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
4,5,Mission: Impossible—The Final Reckoning,2025,400000000,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     6420 non-null   object
 1   Movie Name                             6420 non-null   object
 2   release year                           6420 non-null   int64
 3   Production Budget (USD)                6420 non-null   int64
 4   Domestic Gross (USD)                   6420 non-null   int64
 5   Worldwide Gross (USD)                  6420 non-null   int64
 6   Domestic Box Office (USD)              5815 non-null   float64
 7   International Box Office (USD)         5007 non-null   float64
 8   Worldwide Box Office (USD)             5007 non-null   float64
 9   Total Est. Domestic Video Sales (USD)  2742 non-null   float64
 10  Opening Weekend (USD)                  5396 non-null   float64
 11  MPAA Rating                            6103 non-null   object
dtypes: float64(5), int64(4), object(3)
memory usage: 602.0+ KB

## Your Code Below

In [7]:
## top 10 movies (not adjusted for inflation)
df.sort_values(by="Worldwide Box Office (USD)", ascending = False).head(10)

,id,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
34,35,Avatar,2009,237000000,785221649,2923706026,"785,221,649","2,138,484,377","2,923,706,026","432,535,014","77,025,481",PG-13
3,4,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
1,2,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
59,60,Titanic,1997,200000000,674460013,2223048786,"674,460,013","1,548,588,773","2,223,048,786",NaN,"28,638,131",PG-13
0,1,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
9,10,Avengers: Infinity War,2018,300000000,678815482,2048359754,"678,815,482","1,369,544,272","2,048,359,754","104,094,022","257,698,183",PG-13
57,58,Spider-Man: No Way Home,2021,200000000,814811535,1921206586,"814,811,535","1,106,395,051","1,921,206,586","46,193,441","260,138,569",PG-13
60,61,Inside Out 2,2024,200000000,652980194,1698863816,"652,980,194","1,045,883,622","1,698,863,816",NaN,"154,201,673",PG
47,48,Jurassic World,2015,215000000,653406625,1671063641,"653,406,625","1,017,657,016","1,671,063,641","150,254,746","208,806,270",PG-13
19,20,The Lion King,2019,260000000,543638043,1661454403,"543,638,043","1,117,816,360","1,661,454,403","52,166,887","191,770,759",PG

## Adust for inflation

**Formula**: 

$ \text{current\_value} = \left( \frac{\text{old\_value}}{\text{old\_CPI}} \right) \times \text{current\_CPI} $

In [9]:
## pull in CPI data set
cpi_df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/cpi-to-date.csv")
cpi_df

     year  CPI
0    1913   10
1    1914   10
2    1915   10
3    1916   11
4    1917   13
..    ...  ...
107  2020  259
108  2021  271
109  2022  293
110  2023  305
111  2024  314

[112 rows x 2 columns]

In [10]:
## confirm that year and release year are same object type
cpi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    112 non-null    int64
 1   CPI     112 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [11]:
## merge two data sets
df_merged = pd.merge(cpi_df, df, left_on ="year", right_on = "release year")
df_merged

,year,CPI,id,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,1969,37,"2,672","Hello, Dolly",1969,24000000,33208099,33208213,"33,208,099",114,"33,208,213",NaN,NaN,G
1,1969,37,"2,916",Paint Your Wagon,1969,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,NaN,PG-13
2,1969,37,"3,018",Sweet Charity,1969,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,NaN,G
3,1969,37,"4,405",On Her Majesty's Secret Service,1969,8000000,22800000,82000000,"22,800,000","59,200,000","82,000,000",NaN,NaN,PG
4,1969,37,"4,679",Butch Cassidy and the Sundance Kid,1969,6000000,102308900,102311313,"102,308,900","2,413","102,311,313",NaN,NaN,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,2024,314,"4,697",Unsung Hero,2024,6000000,20335239,21220422,"20,335,239","885,183","21,220,422",NaN,"7,731,539",PG
6253,2024,314,"4,860",The Forge,2024,5000000,29123632,29705427,"29,123,632","581,795","29,705,427",NaN,"6,659,508",PG
6254,2024,314,"5,341",Am I Racist?,2024,3000000,12311598,12311598,"12,311,598",NaN,NaN,NaN,"4,544,063",PG-13
6255,2024,314,"5,499",Hanu Man,2024,2500000,2300000,9038053,"2,300,000","6,738,053","9,038,053",NaN,"2,300,000",NaN
6256,2024,314,"5,572",Terrifier 3,2024,2000000,53981071,76338497,"53,981,071","22,357,426","76,338,497",NaN,"18,928,113",Not Rated

In [12]:
## filter to needed columns:

list(df_merged.columns)

['year',
 'CPI',
 'id',
 'Movie Name',
 'release year',
 'Production Budget (USD)',
 'Domestic Gross (USD)',
 'Worldwide Gross (USD)',
 'Domestic Box Office (USD)',
 'International Box Office (USD)',
 'Worldwide Box Office (USD)',
 'Total Est. Domestic Video Sales (USD)',
 'Opening Weekend (USD)',
 'MPAA Rating']

In [13]:
df_merged = df_merged[['year',
 'CPI',
 'Movie Name',
 'release year',                     
 'Worldwide Box Office (USD)',
 'Production Budget (USD)',
 'Domestic Gross (USD)',
 'Worldwide Gross (USD)',
 'Domestic Box Office (USD)',
 'International Box Office (USD)',
 'Total Est. Domestic Video Sales (USD)',
 'Opening Weekend (USD)',
 'MPAA Rating']]

df_merged

,year,CPI,Movie Name,release year,Worldwide Box Office (USD),Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,1969,37,"Hello, Dolly",1969,"33,208,213",24000000,33208099,33208213,"33,208,099",114,NaN,NaN,G
1,1969,37,Paint Your Wagon,1969,NaN,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,PG-13
2,1969,37,Sweet Charity,1969,NaN,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,G
3,1969,37,On Her Majesty's Secret Service,1969,"82,000,000",8000000,22800000,82000000,"22,800,000","59,200,000",NaN,NaN,PG
4,1969,37,Butch Cassidy and the Sundance Kid,1969,"102,311,313",6000000,102308900,102311313,"102,308,900","2,413",NaN,NaN,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,2024,314,Unsung Hero,2024,"21,220,422",6000000,20335239,21220422,"20,335,239","885,183",NaN,"7,731,539",PG
6253,2024,314,The Forge,2024,"29,705,427",5000000,29123632,29705427,"29,123,632","581,795",NaN,"6,659,508",PG
6254,2024,314,Am I Racist?,2024,NaN,3000000,12311598,12311598,"12,311,598",NaN,NaN,"4,544,063",PG-13
6255,2024,314,Hanu Man,2024,"9,038,053",2500000,2300000,9038053,"2,300,000","6,738,053",NaN,"2,300,000",NaN
6256,2024,314,Terrifier 3,2024,"76,338,497",2000000,53981071,76338497,"53,981,071","22,357,426",NaN,"18,928,113",Not Rated

In [14]:
## write a function to convert old cpi to new cpi

def adjust4inflation(new_cpi, old_cpi, old_value):
    return (old_value/old_cpi) * new_cpi

In [15]:
## use on shelter data 
df_merged["worldwide_inflation_adjusted"] = \
df_merged.apply(lambda x: adjust4inflation(313.689, x["CPI"], x["Worldwide Box Office (USD)"]), axis = 1)
df_merged

,year,CPI,Movie Name,release year,Worldwide Box Office (USD),Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating,worldwide_inflation_adjusted
0,1969,37,"Hello, Dolly",1969,"33,208,213",24000000,33208099,33208213,"33,208,099",114,NaN,NaN,G,"283,843,355"
1,1969,37,Paint Your Wagon,1969,NaN,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,PG-13,NaN
2,1969,37,Sweet Charity,1969,NaN,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,G,NaN
3,1969,37,On Her Majesty's Secret Service,1969,"82,000,000",8000000,22800000,82000000,"22,800,000","59,200,000",NaN,NaN,PG,"700,885,504"
4,1969,37,Butch Cassidy and the Sundance Kid,1969,"102,311,313",6000000,102308900,102311313,"102,308,900","2,413",NaN,NaN,PG,"874,494,100"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,2024,314,Unsung Hero,2024,"21,220,422",6000000,20335239,21220422,"20,335,239","885,183",NaN,"7,731,539",PG,"21,220,422"
6253,2024,314,The Forge,2024,"29,705,427",5000000,29123632,29705427,"29,123,632","581,795",NaN,"6,659,508",PG,"29,705,427"
6254,2024,314,Am I Racist?,2024,NaN,3000000,12311598,12311598,"12,311,598",NaN,NaN,"4,544,063",PG-13,NaN
6255,2024,314,Hanu Man,2024,"9,038,053",2500000,2300000,9038053,"2,300,000","6,738,053",NaN,"2,300,000",NaN,"9,038,053"
6256,2024,314,Terrifier 3,2024,"76,338,497",2000000,53981071,76338497,"53,981,071","22,357,426",NaN,"18,928,113",Not Rated,"76,338,497"

In [17]:
list(df_merged.columns)

['year',
 'CPI',
 'Movie Name',
 'release year',
 'Worldwide Box Office (USD)',
 'Production Budget (USD)',
 'Domestic Gross (USD)',
 'Worldwide Gross (USD)',
 'Domestic Box Office (USD)',
 'International Box Office (USD)',
 'Total Est. Domestic Video Sales (USD)',
 'Opening Weekend (USD)',
 'MPAA Rating',
 'worldwide_inflation_adjusted']

In [21]:
df_merged = df_merged[['year',
 'CPI',
 'Movie Name',
 'release year',
 'Worldwide Box Office (USD)',
                       'worldwide_inflation_adjusted',
 'Production Budget (USD)',
 'Domestic Gross (USD)',
 'Worldwide Gross (USD)',
 'Domestic Box Office (USD)',
 'International Box Office (USD)',
 'Total Est. Domestic Video Sales (USD)',
 'Opening Weekend (USD)',
 'MPAA Rating',
 ]]

df_merged

,year,CPI,Movie Name,release year,Worldwide Box Office (USD),worldwide_inflation_adjusted,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,1969,37,"Hello, Dolly",1969,"33,208,213","283,843,355",24000000,33208099,33208213,"33,208,099",114,NaN,NaN,G
1,1969,37,Paint Your Wagon,1969,NaN,NaN,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,PG-13
2,1969,37,Sweet Charity,1969,NaN,NaN,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,G
3,1969,37,On Her Majesty's Secret Service,1969,"82,000,000","700,885,504",8000000,22800000,82000000,"22,800,000","59,200,000",NaN,NaN,PG
4,1969,37,Butch Cassidy and the Sundance Kid,1969,"102,311,313","874,494,100",6000000,102308900,102311313,"102,308,900","2,413",NaN,NaN,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,2024,314,Unsung Hero,2024,"21,220,422","21,220,422",6000000,20335239,21220422,"20,335,239","885,183",NaN,"7,731,539",PG
6253,2024,314,The Forge,2024,"29,705,427","29,705,427",5000000,29123632,29705427,"29,123,632","581,795",NaN,"6,659,508",PG
6254,2024,314,Am I Racist?,2024,NaN,NaN,3000000,12311598,12311598,"12,311,598",NaN,NaN,"4,544,063",PG-13
6255,2024,314,Hanu Man,2024,"9,038,053","9,038,053",2500000,2300000,9038053,"2,300,000","6,738,053",NaN,"2,300,000",NaN
6256,2024,314,Terrifier 3,2024,"76,338,497","76,338,497",2000000,53981071,76338497,"53,981,071","22,357,426",NaN,"18,928,113",Not Rated

In [27]:
## sort for 10 most selling movies

df_merged.sort_values(by=("worldwide_inflation_adjusted"), ascending = False).head(10)[["year", "Movie Name", "Worldwide Gross (USD)", "worldwide_inflation_adjusted"]]

,year,Movie Name,Worldwide Gross (USD),worldwide_inflation_adjusted
823,1997,Titanic,2223048786,"4,344,834,583"
3196,2009,Avatar,2923706026,"4,274,947,536"
86,1977,Star Wars Ep. IV: A New Hope,775398007,"4,013,759,495"
5688,2019,Avengers: Endgame,2748242781,"3,372,070,899"
40,1973,The Exorcist,428887855,"3,030,121,674"
62,1975,Jaws,484351938,"2,824,086,897"
4680,2015,Star Wars Ep. VII: The Force Awakens,2056046835,"2,721,151,966"
197,1982,E.T. the Extra-Terrestrial,797307407,"2,591,777,857"
5486,2018,Avengers: Infinity War,2048359754,"2,558,861,055"
6038,2022,Avatar: The Way of Water,2315589775,"2,482,018,216"

In [33]:
## top 10 movies (not adjusted for inflation)
df.sort_values(by="Worldwide Box Office (USD)", ascending = False).head(10)[["release year", "Movie Name", "Worldwide Gross (USD)"]]

    release year                            Movie Name  Worldwide Gross (USD)
34          2009                                Avatar             2923706026
3           2019                     Avengers: Endgame             2748242781
1           2022              Avatar: The Way of Water             2315589775
59          1997                               Titanic             2223048786
0           2015  Star Wars Ep. VII: The Force Awakens             2056046835
9           2018                Avengers: Infinity War             2048359754
57          2021               Spider-Man: No Way Home             1921206586
60          2024                          Inside Out 2             1698863816
47          2015                        Jurassic World             1671063641
19          2019                         The Lion King             1661454403

In [35]:
from IPython.display import display, HTML

# Top 10 not adjusted for inflation
top_unadjusted = df.sort_values(by="Worldwide Box Office (USD)", ascending = False).head(10)[["release year", "Movie Name", "Worldwide Gross (USD)"]]

# Top 10 adjusted for inflation
top_adjusted = df_merged.sort_values(by=("worldwide_inflation_adjusted"), ascending = False).head(10)[["year", "Movie Name", "Worldwide Gross (USD)", "worldwide_inflation_adjusted"]]
# Create HTML tables
html = f"""
<table style="display: inline-block; margin-right: 50px;">
<caption><strong>Not Adjusted for Inflation</strong></caption>
{top_unadjusted.to_html(index=False)}
</table>
<table style="display: inline-block;">
<caption><strong>Adjusted for Inflation</strong></caption>
{top_adjusted.to_html(index=False)}
</table>
"""

display(HTML(html))